<html>
<h1>Java Keyword Game</h1>

<div>
	<input ng-model="vm.keyword" ng-keyup="vm.check($event)" ng-disabled="vm.playAgain"><h1><badge class="badge badge-success">{{vm.success}} of {{vm.keywords.length}}</badge> <button class="btn btn-primary" ng-show="vm.playAgain" ng-click="vm.reset()">Play Again</button></h1>
</div>
<div class="container" >
	<div class="row">
		<div class="d-flex flex-column" style="height: 200px;">
			<div>
				<input ng-repeat="keywordBox in vm.keywordBoxes"
					value="{{keywordBox.id}}"
					ng-model="vm.keywordBoxes[keywordBox.id].value" disabled ng-class="vm.cssClass">
			</div>
		</div>
	</div>
	
</div>
</html>